// Global settings
@import '_variables';
@import 'components/_mixins';

// General CSS Reset
@import 'components/_reset-general';

// Components
@import 'components/_typography';
@import "components/_utils";

body {
  background-color: #ecf0f1;

  &.login {
    background: url("../img/bg_login.jpg") no-repeat;
    background-size: cover;
  }
}

h1.welcome {
  font-family: 'Yesteryear', cursive;
  font-size: 50px;
}

.line-image {
  background: url("../img/bg_publik.png") repeat-x;
  height: 137px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.well {
  background-color: #707070;
  color: #ffffff;
}

.navbar-sibaru-header {
  background-color: #24829C;
  margin-bottom: 0;
  border-radius: 0;

  .navbar-brand {
    color: #ffffff;
    font-size: 16px;
    height: auto;
  }

  .btn-login {
    border-radius: 0;
    margin-top: 17px;
    margin-bottom: 17px;
  }
}

.navbar-sibaru {
  background-color: #22B6B8;
  border-radius: 0;
  
  a {
    color: #FFF;
    font-size: 16px;
    font-weight: 300 !important;
    padding: 15px 30px !important;
  }

  &.navbar {
    border: 0;
  }

  .navbar-header {
    .navbar-toggle {
      .icon-bar {
        background-color: darken(#ffffff, 10%);
      }
    }
  }

  .centerer {
    width: 594px;
  }

  .nav {
    & > li {
      & a {
        &:hover,
        &:focus {
          background-color: lighten(#000000, 30%);
        }
      }
    }
  }
}

.login-wrapper {

  @media screen and (max-width: 767px) {
    padding: 15px;
    width: 100%;
    float: right;
  }

  @media (min-width: 768px) {
    padding: 30px;
    width: 400px;
    float: right;
  }

  position: relative;
  margin-bottom: 30px;

  .background {
    background-color: #000000;
    position: absolute;
    top:0;
    right: 0;
    left:0;
    bottom:0;
    z-index: -1;
    opacity: 0.7;
  }

  input {
    margin-bottom: 10px;
    

  }

  label.check-remember {
    color: #ffffff;
    font-weight: normal;
  }
  
}

.footer {
  //position: absolute;
  //left: 0;
  //right: 0;
  //bottom: 0;
  color: #ffffff;
  //height: 50px;
  background-color: #24829C;
  padding: 15px;
}

ul.publications {

  .list-group-item {

    padding: 0;

    & > .content {
      & > .title {
        padding: 10px 15px;
      }

      & > .description {
        background-color: #DFF3FD;
        padding: 10px 15px;

      }
    }

    & > .download {
      background-color: #ffffff;
      width: 80px;
      height: 98px;
      position: absolute;
      top: 0;
      /* left: 0; */
      right: 0;
      bottom: 0;
      padding: 27px 20px;
    }
  }
}

.panel {
  &.panel-sibaru {

    border: 1px solid #22B6B8;
    border-radius: 0;

    & > .panel-heading {
      background-color: #22B6B8;
    }

    &.panel-table {

      & > .panel-body {
        padding: 0;

        .content {
          padding: 15px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.about-us {

}