
.jenis-rumah {
  font-size: 16px;
  //margin: 35px 0 0 0;
}

.status-title {
  margin-top: 15px;
  margin-bottom: 10px;

  .left {
    padding-right: 0;
  }

  .right {
    padding-left: 0;
  }
}

.status-container {

  .update-status {
    height: 43px;
    color: #333333;

    font-size: 16px;
    text-align: center;
    padding: 13px 0;
  }

  .left {
    padding: 0 2px 0 15px;

    .update-status {
      -webkit-border-radius: 7px 0 0 7px;
      border-radius: 7px 0 0 7px;
    }
  }

  .right {
    padding: 0 15px 0 2px;

    .update-status {

      -webkit-border-radius: 0 7px 7px 0;
      border-radius: 0 7px 7px 0;
    }
  }

  .updated {
    background-color: #2ad4ff;
  }

  .not-updated {
    background-color: #ff7f2a;
  }


}

.status-check {
  font-size: 27px;
  margin-top: 83px;

  &.full-updated {
    color: chartreuse;
  }

  &.half-updated {
    color: #4d4d4d;
  }

  &.not-updated {

  }
}

.dashboard-chart {
  .item {
    min-width: 310px;
    height: 230px;
    margin: 0 auto;
  }
}