.portlet.message {
  .portlet-body {
    .list-group {
      & > .list-group-item {
        &.mine {
          text-align: right;
          background-color: lighten(#74C374, 30%);
        }
      }
    }
  }
}

/**
 * Checkbox
 */

.ckbox-theme input[type=checkbox], .rdio-theme input[type=radio] {
  &:checked + label::after {
    border-color: #81b71a;
    background-color: #81b71a;
  }
  &[disabled]:checked + label::after {
    border-color: #81b71a;
    opacity: .5;
  }
}

.ckbox {
  input[type=checkbox] {
    opacity: 0;
    &:checked + label::after {
      font-family: 'FontAwesome';
      content: "\F00C";
      position: absolute;
      top: 0;
      left: 0px;
      display: inline-block;
      font-size: 10px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      color: #FFF;
      text-align: center;
      font-weight: 700;
    }
  }
  &.rounded {
    input[type=checkbox]:checked + label {
      &::after, &::before {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
    }
    label:before {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  }
  &.circle {
    input[type=checkbox]:checked + label {
      &::after, &::before {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    label:before {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  &.ckbox-default input[type=checkbox]:checked + label::after {
    color: gray;
  }
}

// radio
.rdio {
  input[type=radio] {
    opacity: 0;
    &:checked + label::after {
      content: "";
      position: absolute;
      top: 5px;
      left: 5px;
      display: inline-block;
      font-size: 11px;
      width: 10px;
      height: 10px;
    }
  }
  &.rounded {
    input[type=radio]:checked + label {
      &::after, &::before {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
    }
    label:before {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
    }
  }
  &.circle {
    input[type=radio]:checked + label {
      &::after, &::before {
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
      }
    }
    label:before {
      -moz-border-radius: 50%;
      -webkit-border-radius: 50%;
      border-radius: 50%;
    }
  }
  &.rdio-default input[type=radio]:checked + label::after {
    color: gray;
  }
}

.text-center {
  .ckbox,
  .rdio {
    width: 20px;
    margin-left: auto;
    margin-right: auto;
    line-height: 0px;
  }
}

.ckbox,
.rdio {
  position: relative;
  margin-top: 3px;
}

.ckbox label,
.rdio label {
  padding-left: 10px;
  cursor: pointer;
  margin-bottom: 7px !important;
}

.ckbox label:before,
.rdio label:before {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0px;
  left: 0px;
  content: '';
  display: inline-block;
  border: 1px solid #BBB;
  background: #FFF;
}

.ckbox-teal input[type=checkbox]:checked + label::after {
  border-color: #37BC9B;
  background-color: #37BC9B;
}

.ckbox-default input[type=checkbox] {
  &:checked + label::after {
    border-color: #EEEEEE;
    background-color: #EEEEEE;
  }
  &[disabled]:checked + label::after {
    border-color: #EEEEEE;
    opacity: .5;
  }
}

.ckbox-primary input[type=checkbox] {
  &:checked + label::after {
    border-color: #00B1E1;
    background-color: #00B1E1;
  }
  &[disabled]:checked + label::after {
    border-color: #00B1E1;
    opacity: .5;
  }
}

.ckbox-success input[type=checkbox] {
  &:checked + label::after {
    border-color: #8CC152;
    background-color: #8CC152;
  }
  &[disabled]:checked + label::after {
    border-color: #8CC152;
    opacity: .5;
  }
}

.ckbox-info input[type=checkbox] {
  &:checked + label::after {
    border-color: #63D3E9;
    background-color: #63D3E9;
  }
  &[disabled]:checked + label::after {
    border-color: #63D3E9;
    opacity: .5;
  }
}

.ckbox-warning input[type=checkbox] {
  &:checked + label::after {
    border-color: #F6BB42;
    background-color: #F6BB42;
  }
  &[disabled]:checked + label::after {
    border-color: #F6BB42;
    opacity: .5;
  }
}

.ckbox-danger input[type=checkbox] {
  &:checked + label::after {
    border-color: #E9573F;
    background-color: #E9573F;
  }
  &[disabled]:checked + label::after {
    border-color: #E9573F;
    opacity: .5;
  }
}

.ckbox-lilac input[type=checkbox] {
  &:checked + label::after {
    border-color: #906094;
    background-color: #906094;
  }
  &[disabled]:checked + label::after {
    border-color: #906094;
    opacity: .5;
  }
}

.ckbox-inverse input[type=checkbox] {
  &:checked + label::after {
    border-color: #2A2A2A;
    background-color: #2A2A2A;
  }
  &[disabled]:checked + label::after {
    border-color: #2A2A2A;
    opacity: .5;
  }
}

.rdio-default input[type=radio] {
  &:checked + label::after {
    border-color: #EEEEEE;
    background-color: #EEEEEE;
  }
  &[disabled]:checked + label::after {
    border-color: #EEEEEE;
    opacity: .5;
  }
}

.rdio-primary input[type=radio] {
  &:checked + label::after {
    border-color: #00B1E1;
    background-color: #00B1E1;
  }
  &[disabled]:checked + label::after {
    border-color: #00B1E1;
    opacity: .5;
  }
}

.rdio-success input[type=radio] {
  &:checked + label::after {
    border-color: #8CC152;
    background-color: #8CC152;
  }
  &[disabled]:checked + label::after {
    border-color: #8CC152;
    opacity: .5;
  }
}

.rdio-info input[type=radio] {
  &:checked + label::after {
    border-color: #63D3E9;
    background-color: #63D3E9;
  }
  &[disabled]:checked + label::after {
    border-color: #63D3E9;
    opacity: .5;
  }
}

.rdio-warning input[type=radio] {
  &:checked + label::after {
    border-color: #F6BB42;
    background-color: #F6BB42;
  }
  &[disabled]:checked + label::after {
    border-color: #F6BB42;
    opacity: .5;
  }
}

.rdio-danger input[type=radio] {
  &:checked + label::after {
    border-color: #E9573F;
    background-color: #E9573F;
  }
  &[disabled]:checked + label::after {
    border-color: #E9573F;
    opacity: .5;
  }
}

.rdio-lilac input[type=radio] {
  &:checked + label::after {
    border-color: #906094;
    background-color: #906094;
  }
  &[disabled]:checked + label::after {
    border-color: #906094;
    opacity: .5;
  }
}

.rdio-inverse input[type=radio] {
  &:checked + label::after {
    border-color: #2A2A2A;
    background-color: #2A2A2A;
  }
  &[disabled]:checked + label::after {
    border-color: #2A2A2A;
    opacity: .5;
  }
}

.rdio-teal input[type=radio]:checked + label::after {
  border-color: #37BC9B;
  background-color: #37BC9B;
}

.input-group-addon .ckbox,
.input-group-addon .rdio {
  position: absolute;
  top: 4px;
  left: 10px;
}